#validate-screen{
    height: 100vh;
    justify-content: space-around;
    display: none;
    overflow: hidden;
}

#tech-form{
    display: flex;
    flex-direction: column;
}

.screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.ops{
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-size: 1.3rem;
    color: white;

    margin-bottom: 10px;
}

input[type=text]{
    width: 90vw;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    padding: 5px;
    color: #77009A;
}
input::-webkit-input-placeholder {
    color: rgba(119, 0, 154, 0.5);
}
input:focus{
    outline-color: #77009A;
}

input[type=radio]{
    width: 20px;
    height: 20px;
    transform: translateY(10%);
}

.input-container {
    position: relative;
    /* width: 200px; */
}

#paste-btn{
    background-image: url(../icons/content_paste.svg);
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: absolute;
    top: 3px;
    right: 0;
    z-index: 1;
}

#send-btn{
    background-color: white;
    border: none;
    width: 90vw;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #77009A;
    cursor: pointer;
}
#send-btn:focus{
    outline-color: #77009A;
}

#PON{
    font-size: 1.8rem;
    display: none;
}

#space{
    height: 10vh;
}

#response-popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
    z-index: 90;
}

#response-popup-span{
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

#response-popup-btn{
    border: none;
    font-size: 1.6rem;
    font-weight: bolder;
    color: #77009A;
    cursor: pointer;
    margin-bottom: 5vh;
}


@media (min-width: 600px) {
    input[type=text]{
        width: 400px;
        padding: 0 20px;
    }

    #send-btn{
        width: 400px;
    }
}