#page_stock{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: none;
}

#page_stock_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#water_icon{
    background-image: url('/assets/water.svg');
}

#gas_icon{
    background-image: url('/assets/gas.svg');
}